<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/messages' %>
    <div class="form">
      <div class="pull-right">
        or <%= link_to 'create an account', register_path %>
      </div>
      <div>
        <h5>Log in<h5>
      </div>
      <hr>
      <form>
        <%= form_tag('/login', method: 'POST') do %>
          <div class="form-group">
            <%= text_field_tag :username, params[:username], placeholder: "Username", class: "form-control" || '' %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, params[:password], placeholder: "Password" , class: "form-control" || '' %>
          </div>
          <div class="form-group pull-right">
            <%= submit_tag 'Login', class: 'btn btn-success btn-wide' %>
          </div>
        <% end %>
      </form>
    </div>
  </div>
</div>
